<!DOCTYPE html>
<html ng-app="TTTT">

<head>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

	<!-- Angular Material Library -->
	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>

	<script src="webcam.js"></script>
</head>

<body ng-controller="TT">
	<div style="float:left;z-index:-1;position:absolute;height:100%;width:100%;overflow: hidden;">
		<video id="v" autoplay="autoplay" style="width: auto;height: 100%"></video>
	</div>
	<div style="position:absolute;float:left;background-color:#000;">
		<md-input-container style="margin-right: 10px;">
			<label>device</label>
			<md-select ng-model="deviceId" ng-change="switchCamera()">
				<md-option ng-repeat="device in devices track by $index" value="{{device.deviceId}}">{{device.label}}</md-option>
			</md-select>
		</md-input-container>
	<br>
	{{err}}
	</div>
</body>

</html>
